html, body {
	padding:0px;
	margin:0px;
	height:100%;
}
html {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}



#header {
	border-bottom:1px solid black;
	background-color:black;
	color:white;
}
#header > table {
	height:50px;
    border-spacing: 0;
    border-collapse: collapse;
}
#header > table > tbody > tr > td > img {
	cursor:pointer;
}
#header .menu-button {
	padding:0px 10px 0px 10px;
	cursor:pointer;
	line-height:50px;
}
#header .menu-button.selected {
	background-color:#353535;
}




#story-button {
	background-color:#199600;
}
#question-button {
	background-color:#218692;
}
.main-button {
	width:50%;
	color:white;
	padding:10px;
	cursor:pointer;
	text-align:center;
}




#story-maker {
	
}
#question-maker {
	
}
.maker-field {
	width:100%;
}